.expand
	height 37px
	width 37px
	position relative
	bottom 47px
	left 86%
	background-image url('../img/expand-more.png')

.dropdown
	width 75%

.expand-input
	margin-top 4px
	margin-bottom -11px
	&:focus
		border-bottom 2px solid white
		& + label
			transform rotate(180deg)

.list-type, .list-customer, .list-date
	display none
	height 0
	background-color #221203
	margin-top -28px
	li
		height 60px
		text-align center
		line-height 60px

#type-field:focus ~ .list-type, #customer-field:focus ~ .list-customer, #date-range-field:focus ~ .list-date
	display block
	height auto

.dropdown
	ul
		list-style-type none
		padding 0

li
	cursor pointer
	transition background-color 0.3s
	&:hover
		background-color grey