body {
	margin: 0;
	max-width: 1920px;
	background-color: #0A0B0D;
	font-family: 'Lato';
	color: white;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

label {
	display: block;
}

section {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

footer {
	background-color: #E67817;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background: rgba(118, 118, 119, 1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}